<div class="box">
  <article class="media">

    <div class="media-content">
      <div class="content">
        <p><strong><i><%= reply.user.email %></strong> <small><%= time_ago_in_words(reply.created_at) %></small></i>
          <br/>
          <%= markdown(reply.reply) %>
        </p>
      </div> </div>
      <% if has_role?(:admin) %>

        <div class="level-left">
          <a class="level-item">
            <%= link_to edit_discussion_reply_path(reply.discussion, reply) do %>
            <span class="icon is-small"></span>
            <% end %>
          </a>
          <a class="level-item">
            <%= link_to [reply.discussion, reply],
                method: :delete, data: {confirm: "Are you sure ?" } do %>
            <% end %>
          </a>
      <% end %>
    </div>

  </article>
</div>
