<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<%= simple_form_for(@discussion) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <i class="material-icons">create</i>
    <%= f.label :title %>
  <%= f.text_field :title %>
</div>

  <div class="field">
    <i class="material-icons">create</i>
    <%= f.label :content %>
  <%= f.text_field :content %>
</div>

  <div class="field">
      <label class="label">Channel</label>
      <div class="control has-icons-left">
        <span class="select">
          <%= f.input_field :channel_id, prompt: "Select channel" %>
        </span>
        <span class="icon is-small is-left">
          <i class="fa fa-tag"></i>
        </span>
      </div>
    </div>
  </br>
  <div class="field">
    <div class="control">
      <%= f.button :submit, class:"button is-info" %>
    </div>
  </div>

<% end %>
</html>
