<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="column is-8">
  <h3><center>Latest Discussions</center></h3>
  <div class="discussions">
    <% @discussions.each do |discussion| %>
      <div class="columns bb-not-last pv10">

        <div class="column is-5">
          <%= link_to discussion do %>
          <h3><div class="field"><i class="material-icons">forum</i>
          <i> <%= discussion.title %></i></div></h3>
          <% end %>
          <% if discussion.channel %>
            <h5>  <%= link_to discussion.channel.channel, discussion.channel %> channel</h5>
            <h6><i>Total discussions:
              <%= Discussion.distinct.count('content') %></h6>
              <% end %>

              <h7><p>Posted <%= time_ago_in_words(discussion.created_at) %> ago by <%= discussion.user.email %></i>
            </h7>

        </p>
          <div class="content">

            <%= truncate(strip_markdown(discussion.content), length: 300) %>

          </div>
        </div>

        <% if discussion_author(discussion) || has_role?(:admin) %>
        <div class="column has-text-right">
          <%= link_to 'Edit', edit_discussion_path(discussion), class:'button' %>
          <%= link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
        </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
